[Unit]
Description=WeatherFlow UDP Listener

[Service]
Type=simple
WorkingDirectory=/usr/local/bin
EnvironmentFile=/etc/default/weatherflow-udp-listener
ExecStart=$PREFIX/venv/bin/python3 $PREFIX/listen.py $CMDARGS
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
User=wflistener
Group=wflistener

[Install]
WantedBy=multi-user.target

